@media (min-width: 1200px) {
    .container {
        max-width: 850px;
    }
}

body {
    background: url(../images/bg-min.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.container {
    background-color: #ffffff;
}